	<div id='welcome_page' class='container home_animate_in' ng-controller='sub_catagories_controller'>
		<header class='row'>
			<div id='background_img'></div>
			<section class='col-xs-12'>
					<div>
						<img ng-click="open('Interview')" id='main_img' src='./assets/{{main_img.main_img}}'>
						<h1 ng-click="open('Interview')">Who is Brandon J Scott?</h1>
					</div>
			</section>
		</header>
		<main class='row'>
			<section class='col-xs-12'>
				<figure ng-repeat='page in pages'>
					<img ng-click='open(page.catagory)'ng-src='./assets/{{page.image}}'>
					<h2>{{page.catagory}}</h2>
				</figure>
			</section>
		</main>
		<footer class='row'>
			<h3>Designer | Developer<h3>
		</footer>
	</div>
